*.pyc
__pycache__
*/__pycache__
*egg-info
wandb/
runs/ 
*.mp4
*/results/
*/multigaitrobot-v0/
*/test/
*/pycache
*/Results_benchmark/*
sofagym/env/Results/*
*/.vscode
*/src/logs
*.pyc
.idea/
.ipynb_checkpoints/
*/bayes_sim.egg-info/
*/todo.txt
*.sh